<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @*<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />*@
        <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
        @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/FizzleBizzle.css" rel="stylesheet" />
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        @*<script src="~/Scripts/jquery-3.1.1.js"></script>*@
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        @*<script src="~/Scripts/bootstrap.js"></script>*@
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    </head>
    <body>
        @RenderBody()
    </body>
</html>